.admin-dashboard-container {
  max-width: 100%;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
  background: #fff;
  display: flex;
  margin: 0 auto;
}

.container__card_wrapper {
  width: 100%;
  min-height: 87vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: white;
}

.admin-dashboard-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.admin-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

/* .admin-dashboard-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

.admin-dashboard-top button {
  background: #000;
  color: white;
  /* padding: 10px; */
  margin-right: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.admin-dashboard-card {
  background-color: #f3f4f6;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  color: black;
  width: 300px;
  height: 300px;
  display: flex;
  /* flex-direction: column; */
  align-items: center !important;
  justify-content: center;
}

.admin-sidebar {
  /* width: 130px; */
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.admin-sidebar-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.admin-sidebar-item i {
  margin-right: 10px;
}

.admin-dashboard-content {
  flex-grow: 1;
  padding-left: 20px;
}

.admin-dashboard-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}

.admin-dashboard-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-dialog {
  max-width: 500px;
  width: 100%;
  background: #fff;
  padding: 15px;
  border-radius: 20px;
}

.modal-content {
  position: relative;
}

.card {
  width: 85% !important;
  background-color: #444;
  color: #eee;
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  height: 200px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
}

.card-difficulty {
  font-size: 0.8em;
  color: #bbb;
  margin-top: 10px;
}

.card-difficulty span {
  color: #f4c150;
}

.card-difficulty span.unfilled {
  color: #666;
}